<h1 class="testWhite">{{ title }}</h1>
<p class="testWhite">
     you are seeing some {{ content }}
</p>
<form action="/testreq/submit" method="post">
    <input type="text" name="summName" placeholder="enter name"></br>
    <input type="text" name="summRegion" placeholder="enter region"></br>
    <button type="submit">SUBMIT to actual test for search</button>
</form>
