<h1 class="testWhite">Summoner Name input: </h1>
<p class="testWhite">
     Name passed: {{ summName }}
</p>
<p class="testWhite">
     region passed: {{ summRegion }}
</p>

<p class="testWhite">
     did the test pass?: {{ test }}
</p>

<p class="testWhite">
    the test name is {{ testname }}
</p>
